body{
    box-sizing: none;
    padding: 0;
    margin: 0;
    font-family: Inter,sans-serif;
}

/* NAV-BAR */

.nav{
    display: flex;
    width: 100%;
    background: #48e;
    height: 68px;
    position: fixed;
    z-index: 100;
}

.responsive-logo{
    display: none;
}

.first-section{
    padding-left: 17%;
    display: flex;
}

.first-section>.nav-ul>.nav-li{
    position: relative;
    margin-top: 7px;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}

.btn-propose{
    display: none;
}

.link, .current-page{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.first-section>.nav-ul>.nav-li>.link{
    transition: color 0.3s ease;
}

.first-section>.nav-ul>.nav-li>.link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: blue;
}

.first-section>.nav-ul>.nav-li>.link:hover{
    color: blue;
}

.first-section>.nav-ul>.nav-li>.link:hover::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 4px;
    transform: scaleX(1);
    transition: transform 0.3s ease;

    background-color: blue;
}

.current-page{
    color: blue;
}

.current-page::before{
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    bottom: -22px;
    width: 100%;
    height: 4px;
    transform: scaleX(1);
    transition: transform 0.3s ease;

    background-color: blue;
}

.second-section{
    padding-left: 27%;
}

.profile-li{
    display: inline-block;
    margin-right: 10px;
}

.profile-li>span{
    color: #fff;
    font-size: 33px;
}

.img-logo{
    width: 130px;
    height: 30px;
    margin-top: 21px;
}

.cont-ppf{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.first-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 180px;
    margin-top: 23px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    margin-left: -10px;
    z-index: 10;
    text-align: center;

    background-color: #48e;
}

.menu-link{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.menu-link:hover{
    color: blue;
}

.show{
    display: flex !important;
}

/* SUB-NAV */

.sub-nav{
    padding-top: 68px;
    width: 100%;
    height: 50px;
    background: rgb(236, 236, 236);
}

.sub-nav-ul{
    padding-left: 18%;
}

.sub-nav-li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.sub-link, .current-subcat{
    color: #414141;
    text-decoration: none;
    font-size: 15px;
    transition: color .3 ease;
}

.current-subcat{
    color: blue;
}

.sub-link:hover{
    color: blue;
}

.current-subcat::before{
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    bottom: -20px;
    width: 100%;
    height: 4px;
    transform: scaleX(1);
    transition: transform 0.3s ease;

    background-color: rgb(29, 131, 214);
}

.sub-link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: rgb(29, 131, 214);
}

.sub-link:hover::before{
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    bottom: -16px;
    width: 100%;
    height: 4px;
    transform: scaleX(1);
    transition: transform 0.3s ease;

    background-color: rgb(29, 131, 214);
}

/* CONTAINER PRINCIPAL */

#container{
    display: flex;
    margin: auto;
    width: 64%;
    height: 1000px;
}

/* Contenedor categorias */

.cat-container{
    width: 31%;
    border-radius: 4px;
    background: #f0f0f0;
}

.container-info{
    margin-left: 10px;
}

.subtitle{
    text-align: left;
    font-size: 15px;
    color: #414141;
}

.inputs-ul{
    padding: 0;
    margin: 0;;
}

.inputs-li{
    font-size: 15px;
    margin-top: 3px;
    display: block;
}

.inputs-cat-cont{
    margin-left: -4px;
}

.input-abilities{
    height: 36px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 14px;
    width: 90%;
}

.separador{
    width: 2%;
}

/* Contenedor trabajos*/

.work-container{
    width: 67%;
}

.icon{
    font-size: 46px;
}

.form{
    width: 100%;
    padding: 2px;
    background: #f0f0f0;
    border-radius: 18px;
    height: 46px;
    display: inline-flex;
    text-align: center;
}

.search-input{
    width: 94%;
    font-size: 17px;
    color: #414141;
    outline: none;
    border: none;
    background: transparent;
}

.btn-search{
    background: transparent;
    border: none;
    width: 6%;
}

.offer-container{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    background-image: url(../img/rayo.svg);
    background-repeat: no-repeat;
    background-position: -15px bottom;
    background-size: auto 86%;
    line-height: 26px;
}

.offer-cont{
    background-color: #f0f0f0;
}

.subtitle-h2{
    padding: 40px 20px;
    color: #1c3f7f;
    padding-bottom: 0px;
    padding-left: 80px;
    font-size: 22px;
}

.paragraph{
    padding: 0px 20px 0px 20px;
    padding-left: 80px;
    color: #414141;
}

.link-btn{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    background: rgb(29, 131, 214);
    border-radius: 25px;
    margin-left: 100px;
    padding: 12px;
    text-align: center;
}

/* CONTENEDOR DE PROPUESTA */

.proposal-container{
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    height: 560px;
}

.header-cont-inf{
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;
}

.text-title{
    color: #414141;
    flex-grow: 1;
    padding-left: 20px;
    font-size: 22px;
}

.btn-proposal{
    flex-grow: 0;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    height: 40px;
    margin-right: 6px;
    background: rgb(29, 131, 214);
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.btn-proposal:hover{
    background: #1c3f7f;
}

.data-container{
    height: 30px;
    width: 100%;
}

.cont-table{
    color: #414141;
    padding: 20px;
    padding-top: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.td-date-info{
    min-width: 17%;
}

.td-proposals-info{
    min-width: 17%;
}

.td-pay-info{
    text-align: right;
    color: #16c153;
    width: 60%;
}

.description-container{
    color: #414141;
    font-size: 16px;
    padding: 20px;
    padding-bottom: 0;
}

.categories-container{
    height: 130px;
    padding: 20px;
    padding-top:0;
}

.ul-categories{
    padding: 0;
}

.li-categories{
    display: flex;
    height: 30px
}

.inline-block{
    display: inline-block;
    margin-left: 4px;
}

.li-categories>p{
    font-size: 15px;
    color: #414141;
}

.name-cat{
    font-weight: bold;
}

#btn-vermas, #btn-retraer{
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: #48e;
    cursor: pointer;
}

.container-more-categories{
    display: none;
}

.desplegar{
    display: block !important;
}

.hide{
    display: none !important;
}

.technology-container{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0%;
}

.ul-technology{
    padding: 0;
}

.li-technology{
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: center;
    background-color: #48e;
    border-radius: 25px;
}

.li-technology>p{
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
}

/* tabla */

.table-customer-info{
    width: 100%;
    padding: 20px;
    padding-top: 10px;
}

.customer-rate{
    color: rgb(255, 174, 0);
}

.td-customer-op{
    width: 50%;
}

.td-customer-name{
    width: 12%;
}

.td-customer-rate{
    width: 22%;
}

.td-customer-geo{
    width: 26%;
}

.img-customer-country{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 1490px) and (min-width:1295px){
    #container{
        width: 80%;
    }
    .work-container{
        width: 70%;
    }
}

@media screen and (max-width: 1295px) and (min-width:1103px){
    #container{
        width: 94%;
    }
    .work-container{
        width: 70%;
    }
    .first-section{
        padding-left: 7%;
    }
    .sub-nav-ul{
        padding-left: 7%;
    }
}

@media screen and (max-width: 1103px) and (min-width:953px) {
    #container{
        width: 94%;
    }
    .first-section{
        padding-left: 7%;
    }
    .work-container{
        width: 84%;
    }
    .responsive-logo{
        display: flex;
        height: 30px;
        width: 30px;
    }
    .pc-logo{
        display: none;
    }
    .sub-nav-ul{
        padding-left: 7%;
    }
    .second-section{
        padding-left: 18%;
    }
    .sub-link{
        font-size: 14px;
    }
}

@media screen and (max-width: 953px){
    #container{
        width: 94%;
    }
    .first-section{
        padding-left: 1%;
    }
    .work-container{
        width: 100%;
    }
    .responsive-logo{
        display: flex;
        height: 30px;
        width: 30px;
    }
    .offer-container{
        display: none;
    }
    .pc-logo{
        display: none;
    }
    .sub-nav{
        display: none;
    }
    .nav-ul{
        display: none;
    }
    .second-section{
        padding-left: 50%;
    }
    .profile-picture{
        display: none;
    }
    .sub-link{
        font-size: 14px;
    }
    .cat-container{
        display: none;
    }
    .li-categories{
        height: 40px;
        margin-top: 10px;
    }
    .technology-container{
        padding-top: 180px;
    }
    .li-technology{
        margin-top: 10px;
    }
    .proposal-container{
        height: 1000px;
    }
    .btn-proposal{
        display: none;
    }
    .btn-propose{
        flex-grow: 0;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        height: 40px;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        background: rgb(29, 131, 214);
        outline: none;
        border: none;
        border-radius: 25px;
        text-align: center;
    }
    .btn-propose:hover{
        cursor: pointer;
        background: #1c3f7f;
    }
    .td-customer-rate{
        width: 40%;
    }
    .td-customer-geo{
        display: none;
    }
}